Source: echocv
Priority: optional
Maintainer: Luka Cehovin <luka.cehovin@gmail.com>
Build-Depends: debhelper (>= 9),
               cmake (>= 3.1),
               pybind11-dev (>= 2.0.0),
               dh-python,
               python-dev,
               python3-dev,
               libopencv-dev,
               python-opencv,
               echolib-dev
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/vicoslab/echocv
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.2

Package: echocv0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, echolib0, libopencv-core2.4v5, libopencv-imgproc2.4v5, libopencv-video2.4v5
Description: A simple and efficient IPC library (OpenCV support)
 A simple and efficient interprocess communication (IPC) library for
 Linux written in C++11, this repository contains support for OpenCV structures

Package: echocv-dev
Section: libdevel
Architecture: any
Depends: echocv0 (= ${binary:Version}), ${misc:Depends}, echolib-dev, libopencv-dev
Description: A simple and efficient IPC library (development files)
 This package contains files needed to develop with echocv.

Package: echocv-apps
Section: misc
Architecture: any
Depends: echocv0 (= ${binary:Version}), ${misc:Depends}
Description: Generic applications using OpenCV

Package: python-echocv
Architecture: all
Multi-Arch: foreign
Section: python
Depends: ${misc:Depends},
         ${python:Depends},
         echocv0 (= ${binary:Version}),
         python-numpy,
         python-opencv
Description: echolib bindings for Python 2
 This package provides echocv bindings for Python 2.

#Package: python3-echocv
#Architecture: all
#Multi-Arch: foreign
#Section: python
#Depends: ${misc:Depends},
#         ${python3:Depends},
#         echocv0 (= ${binary:Version}),
#         python3-numpy,
#         python-opencv
#Description: echolib bindings for Python 3
# This package provides echocv bindings for Python 3.
